@font-face {
  font-family: comic;
  src: url(font/Ldfcomicsans-jj7l.ttf) format("truetype");
}

header {
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(image.png);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: comic, Arial, Helvetica, sans-serif;
}

main {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  min-width: 300px;
  padding: 20px;
  margin-bottom: 500px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 20px;
}

hr {
  margin: 30px 0px 30px 0px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  margin-top: auto;
  text-align: center;
  text-decoration: none;
}
